@font-face {
    font-family: "Carson";
    src: url("fonts/Carson.otf") format("openType");
    font-weight: normal;
  }
  
  @font-face {
    font-family: "Carson";
    src: url("fonts/Carson\ Bold.otf") format("openType");
    font-weight: bold;
  }
  @font-face {
    font-family: "Carson";
    src: url("fonts/Carson\ Light.otf") format("openType");
    font-weight: light;
  }
  @font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: bold;
  }
 
 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   }

a,
a:hover,
a:link,
a:visited {
    text-decoration: none;
    color: #fff;
    border: none;
   }
.headerLang a:hover{
    border-bottom: 2px solid #cfad7e;
}


html{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #fff;
    
}
.horizontalLine{
    position: absolute;
    left: 0;
    bottom: 53px;
    width: 100%;
    border: none;
    background-color: #fff;
    color: #fff;
    height: 3px;
}
.clearfix {
    clear:both;
}
.header{
    float: left;
    position: relative;
    width: 100%;
    height: 250px;
    background-color: #e3173e;
}

.sectionInner{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.headerLine{
    width: 100%;
    height: 12px;
    background-color: #cfad7e;
}
.headerSocialLang{
    height: 27px;
    padding-top: 10px;
}
.headerSocial{
    float: left;
}
.headerSocialItem{
    width:27px;
    height:27px;
    margin-right: 5px;
}

.headerLang{
    float:right;
    font-size: 15pt;
}
.headerLogo{
    height: 140px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.headerLogoEvt{
    text-transform: uppercase;
    display: inline-block;
    font-size: 42pt;
    line-height: 130px;
    vertical-align: top;
    font-family: 'Carson', sans-serif;
    font-weight: bold;
    color: #fff;
    
}
.headerLogoArena{
    display: inline-block;
    text-transform: uppercase;
    font-size: 42pt;
    line-height: 130px;
    height: 100%;
    font-family: 'Carson', sans-serif;
    font-weight: bold;
    color: #fff;
}
.logoSpartakInner{
    display: inline-block;
    line-height: 100px;
}
.logoSpartak{
    vertical-align: text-top;
}
.logoArenaInner{
    display: inline-block;
}
.arenaLogo{
    vertical-align: middle;
    height: 130px;
    width: auto;
}
.sendMsg{
    float:right;
    width: 35px;
    height: 25px;
    position: relative;
}
.sendMsgImg{
    width: 35px;
    height: 25px;
}

.headerNavigation{
    height: 55px;
}

.burderInner{
    float: left;
    line-height: 55px;
}

.burger{
    margin-right: 65px;
    width: 20px;
    height: 30px;
    vertical-align: middle;
}

.navElement{
    float:left;
    list-style: none;
    margin-right: 65px;
    font-size: 19pt;
    color: #fff;
    line-height: 53px;
    border: none;
}

.navElement:hover{
    border-bottom: 5px solid #cfad7e;
    padding-bottom: -2px;
}

.sendMsgPopUp{
    display:none;
    position: absolute;
    top: 40px;
    right: 0;
    height: 430px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #fff;
}
.sendMsgPopUpHeader{
    border-radius: 5px 5px 0 0;
    height: 75px;
    line-height: 75px;
    text-align: left;
    vertical-align: middle;
    padding-left: 40px;
    font-size: 14pt;
    text-transform: uppercase;
    background-color: #e3173e;
    border-bottom: 2px solid #840d2a;
}
.sendMsgPopUpForm{
    padding: 20px 30px;
}
.sendMsgPopUpFormEmail{
    padding-left: 5px;
    width: 290px;
    height: 45px;
    line-height: 14pt;
    font-size: 14pt;
    border: 1px solid #d4d6d6;
    border-radius: 5px;
    margin-bottom: 20px;
}
.sendMsgPopUpFormTitleMsg{
    padding-left: 5px;
    width: 290px;
    height: 45px;
    line-height: 14pt;
    font-size: 14pt;
    border: 1px solid #d4d6d6;
    border-radius: 5px;
    margin-bottom: 20px;
}
.sendMsgPopUpformTextMsg{
    padding: 5px 0 0 5px;
    width: 290px;
    height: 100px;
    line-height: 14pt;
    font-size: 14pt;
    resize: none;
    border: 1px solid #d4d6d6;
    border-radius: 5px;
    margin-bottom: 20px;
}
.sendMsgPopUpFormSubmit{
    outline: none;
    border: none;
    width: 150px;
    height: 45px;
    font-size: 14pt;
    line-height: 14pt;
    box-shadow: 0px 1px 0px #df6071;
    border-radius: 5px;
    color: white;
    background-color: #e3173e;
}

.owl-nav{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 2.5%;
}
.owl-prev{
    background: url("img/svg/navIconPrev.svg") 50% 50% no-repeat;
    background-size: cover;
    width: 35px;
    height: 35px;
    outline: none;
    margin-right: 10px;
  }

  
.owl-next{
    background: url("img/svg/navIconNext.svg") 50% 50% no-repeat;
    background-size: cover;
    width: 35px;
    height: 35px;
    outline: none;
  }
  .owl-prev.disabled,
  .owl-next.disabled{
      opacity: 0.2;
      /* display: none; */
  }


  .mainGallery{
    margin: 50px 70px 50px 0;
}
.owl-carousel-2 .owl-nav{
    right: -80px;
    /* border: 2px solid black; */
}
.owl-carousel-2 .owl-nav .owl-prev{
    background-image: url("img/svg/navIconPrevGray.svg");
    width: 25px;
    height: 25px;
}
.owl-carousel-2 .owl-nav .owl-next{
    background-image: url("img/svg/navIconNextGray.svg");
    width: 25px;
    height: 25px;
}
    
/* .owlNav{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
} 
        .owl-carousel-2 .owlNav .owl-prev{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 1%;
    border: none;
    background-color: transparent; 
    background: url("img/svg/navIconPrev.svg") 50% 50% no-repeat;
    background-size: cover;
    width: 35px;
    height: 35px;
    outline: none;
    margin-right: 10px;
  }

  
.owl-carousel-2 .owlNav .owl-next{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 1%   ;
    border: none;
    background-color: transparent; 
    background: url("img/svg/navIconNext.svg") 50% 50% no-repeat;
    background-size: cover;
    width: 35px;
    height: 35px;
    outline: none;
  }
  .owl-carousel-2 .owlNav .owl-prev.disabled,
  .owl-carousel-2 .owlNav .owl-next.disabled{
      opacity: 0.7;
  } */

  /* .mainContent{
      margin: 50px 0px;
  } */

  .mainContentHead{
      color:#e3173e;
      text-transform: uppercase;
      margin: 50px 0;
      font-size: 40pt;
  }
  .mainContentText{
      color: #000;
      font-size: 26pt;
  }
  .mainContentText p{
      margin: 50px 0;
  }


.footer{
    width: 100%;
    height: 200px;
    background-color: #e3173e;
    background-image: url(img/svg/footerText.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% 150px;
    text-align: center;

}
.footerLogoSpartak{
    display: inline-block;
    line-height: 200px;
    vertical-align: middle;
    margin-right: 20px;
}
.footerLogoSpartakImg{
    vertical-align: middle;
}
.footerNavigation{
    display: inline-block;
    line-height: 200px;
    vertical-align: middle;
    text-align: left;
    list-style: none;
}
.footerNavigationItem{
    display: table;
    line-height: 30px;
    font-size: 14pt;
    border-bottom: 1px solid #fff;
}
.footerArenaLogo{
    display: inline-block;
    line-height: 200px;
    vertical-align: middle;
}