@font-face {
    font-family: "Carson";
    src: url("fonts/Carson.otf") format("openType");
    font-weight: normal;
  }
  
  @font-face {
    font-family: "Carson";
    src: url("fonts/Carson\ Bold.otf") format("openType");
    font-weight: bold;
  }
  @font-face {
    font-family: "Carson";
    src: url("fonts/Carson\ Light.otf") format("openType");
    font-weight: light;
  }
  @font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: bold;
  }
 
 * {
    padding: 0;
    margin: 0;
   }

a,
a:hover,
a:link,
a:visited {
    text-decoration: none;
    color: #fff;
    border: none;
   }
a:hover{
    border-bottom: 2px solid #cfad7e;
}

html{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #fff;
}
.horizontalLine{
    position: absolute;
    left: 0;
    bottom: 50px;
    width: 100%;
    border: none; /* Убираем границу */
    background-color: #fff; /* Цвет линии */
    color: #fff; /* Цвет линии для IE6-7 */
    height: 3px; /* Толщина линии */
}
.clearfix {
    clear:both;
}
.header{
    float: left;
    position: relative;
    width: 100%;
    height: 250px;
    background-color: #e3173e;
}

.sectionInner{
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

.headerLine{
    width: 100%;
    height: 12px;
    background-color: #cfad7e;
}
.headerSocialLang{
    height: 27px;
    padding-top: 10px;
}
.headerSocial{
    float: left;
}
.headerSocialItem{
    width:27px;
    height:27px;
    margin-right: 5px;
}

.headerLang{
    float:right;
    font-size: 15pt;
}
.headerLogo{
    height: 140px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.headerLogoEvt{
    text-transform: uppercase;
    display: inline-block;
    font-size: 42pt;
    line-height: 130px;
    vertical-align: top;
    font-family: 'Carson', sans-serif;
    font-weight: bold;
    color: #fff;
    
}
.headerLogoArena{
    display: inline-block;
    text-transform: uppercase;
    font-size: 42pt;
    line-height: 130px;
    height: 100%;
    font-family: 'Carson', sans-serif;
    font-weight: bold;
    color: #fff;
}
.logoSpartakInner{
    display: inline-block;
    line-height: 100px;
}
.logoSpartak{
    vertical-align: text-top;
}
.logoArenaInner{
    display: inline-block;
}
.arenaLogo{
    vertical-align: middle;
    height: 130px;
    width: auto;
}
.sendMsg{
    float:right;
    width: 35px;
    height: 25px;
}

.headerNavigation{
    height: 55px;
}

.burderInner{
    float: left;
    line-height: 55px;
}

.burger{
    /* float:left; */
    margin-right: 65px;
    width: 20px;
    height: 30px;
    vertical-align: middle;
}

.navElement{
    float:left;
    list-style: none;
    margin-right: 65px;
    font-size: 19pt;
    color: #fff;
    line-height: 55px;
    border: none;
}

.navElement:hover{
    border-bottom: 5px solid #cfad7e;
}